<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{page.title}}</title>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Sacramento" rel="stylesheet">
</head>

<body>

  <ul class="navigation">
    <li class="tab"><a href="index.html">Home</a></li>
    <li class="tab"><a href="portfolio.html">Portfolio</a></li>
    <li class="tab"><a href="https://www.patreon.com/">Patreon</a></li>
  </ul>
  {{content}}
  <div class="bottom-container">
    <a class="footer-link" href="https://www.instagram.com/vincentvandoughnut/?hl=en">Instagram</a>
    <a class="footer-link" href="https://twitter.com/VinVanDoughnut?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a>
    <a class="footer-link" href="https://vincentvandoughnut.com/">Website</a>
    <p class="copyright">© 2019 Vincent Van Doughnut @ The Yellow House.</p>
  </div>
</body>

</html>
